<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    phpVersion="8.1"
    findUnusedPsalmSuppress="true"
    findUnusedCode="true"
    findUnusedBaselineEntry="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <file name="index.php"/>
        <directory name="modules"/>
        <directory name="tests/phpunit"/>
    </projectFiles>
    <issueHandlers>
        <PossiblyUnusedReturnValue errorLevel="suppress"/>
        <PossiblyUnusedMethod errorLevel="suppress"/>
        <RedundantCast errorLevel="suppress"/>
        <RedundantCastGivenDocblockType errorLevel="suppress"/>
        <UnusedClass errorLevel="suppress"/>
        <PossiblyUnusedParam>
            <errorLevel type="suppress">
                <directory name="tests/phpunit"/>
            </errorLevel>
        </PossiblyUnusedParam>
    </issueHandlers>
    <stubs>
        <file name="vendor/php-stubs/wordpress-stubs/wordpress-stubs.php"/>
        <file name="vendor/wildwolf/wordpress-test-library-stubs/wordpress-test-library-stubs.php"/>
        <file name="wordpress.stubs"/>
    </stubs>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>